<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{#meta.title}}{{meta.title}} - {{/meta.title}}{{config.site_title}}</title>
	{{#meta.description}}<meta name="description" content="{{meta.description}}">{{/meta.description}}
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/bower_components/highlightjs/styles/github.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,400italic" type="text/css">
	<link rel="stylesheet" href="/styles/raneto.css">

	{{{config.analytics}}}
</head>
<body class="{{body_class}}">
    <div class="global-header">
        <img src="/img/ca-logo-sq-sm.png" />
        <ul class="nav nav-tabs">
            <li><a href="https://www.clouda.ca/">Cloud-A Home</a></li>
            <li class="active"><a href="#">Docs / KB</a></li>
            <li><a href="http://docs.clouda.ca/api">API Reference</a></li>
            <li><a href="http://client.clouda.ca/">Client Portal</a></li>
            <li><a href="http://status.clouda.ca/">System Status</a></li>
        </ul>
    </div>

	<header class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
				    <div class="logo-container">
                        <img src="/img/ca-words.png" />
                        <a href="/" class="logo">/ DOCS</a>
                    </div>
				</div>
			</div>
            <div class="row">
				<div class="col-sm-12">
                <div class="home-search">
                <form class="search-form form-inline" role="form" action="/">
                    <div class="form-group">
                        <label class="sr-only" for="home-search">Search the knowledge base</label>
                        <input type="search" class="form-control input-lg" name="search" id="home-search" size="50" placeholder="Search the knowledge base">
                        <button type="submit" class="btn btn-primary btn-lg">Search</button>
                    </div>
                </form>
            </div>
            
                </div>
			</div>
		</div>
	</header>

	<div class="container-fluid">
		{{{ yield }}}
	</div>

	<footer class="footer">
		<div class="container-fluid">

			{{#config.copyright}}
			<p class="copyright pull-right">{{{config.copyright}}}</p>
			{{/config.copyright}}

		</div>
	</footer>

	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bower_components/highlightjs/highlight.pack.js"></script>
	<script src="/bower_components/fitvids/jquery.fitvids.js"></script>
	<script src="/bower_components/masonry/dist/masonry.pkgd.min.js"></script>
	<script src="/scripts/raneto.js"></script>

</body>
</html>
