body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #D7E0E4;
}
.global-header { background: #444; }
.global-header img { float: left; margin: 6px; height: 18px; }
.global-header .nav-tabs { border-bottom-color: #666; }
.global-header .nav-tabs>li>a {
    border-radius: 0;
    color: #EEE;
    font-size: 12px;
    padding: 6px 15px;
}
.global-header .nav>li>a:hover, 
.global-header .nav>li>a:focus {
    background: #FFF;
    color: #444;
}
.global-header .nav-tabs>li.active>a, 
.global-header .nav-tabs>li.active>a:hover, 
.global-header .nav-tabs>li.active>a:focus {
    color: #ccc;
    background-color: #222;
    border-color: #666;
    border-top-color: transparent;
}

.header {
    background-image: url(/img/cloudabg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ccc;
    padding: 35px 0;
    border-bottom: 5px solid #222;
}
.header img {
    height: 25px;
    margin-left: 20px;
    margin-top: -15px;
}
.header .container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}
.header a { color: #ddd; }
.header a:hover {
    color: #fff;
    text-decoration: none;
}
.header .logo-container {
    text-align: center;
    margin-bottom: 45px;
}
.header .logo {
    color: #DDD;
    font-size: 32px;
    line-height: 42px;
    margin-left: 8px;
    font-weight: 700;
    letter-spacing: 1px;
}
.header .search-form {
    margin-right: 20px;
}

.menu {
    margin: 40px 20px;
    padding: 0;
    list-style: none;
}
.menu .pages {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li { line-height: 30px; }
.menu li ul li {    
    line-height: 30px;
    background-color: #FFF;
    border-bottom: 1px solid #ECECEC;
    color: #32373B;
}

.menu .category-title {
    text-transform: uppercase;
    margin: 25px 0 0 0;
    font-size: 110%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #2A92E5;
    color: #FFF;
    padding: 15px;
}
.menu a {
    display: inline-block;
    color: #888;
    line-height: 20px;
    padding: 10px 15px;
}
.menu a:hover {
    color: #444;
    text-decoration: none;
}
.menu .active a {
    font-weight: bold;
    color: #444;
}

.home-search { text-align: center; }
.home-search input {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0;
    width: 80%!important;
    float: left;
}
.home-search button {
    background-color: #2A92E5;
    border: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 14px 16px;
    width: 20%;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.home-categories { margin: 40px 10px 0 10px; }
.home-categories .panel-heading {
    font-size: 120%;
    font-weight: normal;
    margin: 0;
    padding: 20px;
    background-color: #2A92E5;
    color: #FFF;
    border: 0;
}
.home-categories .panel-heading,
.home-categories .panel .page {
    text-overflow: ellipsis;
	white-space: nowrap;
    overflow: hidden;
}

.content {
    color: #555;
    background: #FFF;
    margin: 40px 20px;
    padding: 40px;
    border: 1px solid #e9e9e9;
    -webkit-box-shadow: 0 1px 50px rgba(0,0,0,0.1);
    box-shadow: 0 1px 50px rgba(0,0,0,0.1);
    font-size: 16px;
}
.content .title { margin: 0 0 30px 0; }
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 { color: #222; }
.content p,
.content ul,
.content ol,
.content pre,
.content blockquote,
.content table,
.content iframe { margin-bottom: 1em; }
.content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    background: #fff;
    padding: 4px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* .content code {
    background-color: #FFFDDC;
    color: #555;
}
.content pre {
    background: #FFFDDC;
    border: 0;
}
.content pre code { color: #657B83; }
.content .hljs { background: none; } */
.content .page-meta {
    font-size: 85%;
    color: #999;
    margin-top: 50px;
}
.content .page-meta a {
    color: #999;
    border-bottom: 1px dotted #999;
}
.content .page-meta a:hover {
    color: #428BCA;
    text-decoration: none;
}

.footer .copyright {
    font-size: 85%;
    color: #999;
    margin: 0 20px 40px 0;
}

.page-excerpt .search-query { background: #FFFDDC; }

.error {
    padding: 0 20px;
}

@media only screen and (max-width: 767px) {
    .home-search .form-group { margin-bottom: 0; }
    #home-search { margin-bottom: 10px; }
}
